* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --burgerline_width: 30px;
  --burgerline_height: 5px;
  --burgerline_margin: 6px;

  --background_color: peachpuff;
}

#grid_wrapper {
  display: grid;
  height: auto;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: minmax(0, 33vh) minmax(0, 1fr);
  grid-template-areas:
    "nav hea"
    "nav se1"
  ;
}

#header {
  grid-area: hea;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header h1 {
  position: absolute;
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}

#header img {
  width: 100%;
}

#section_1 {
  grid-area: se1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 30px;
  padding-left: 8vw;
  padding-right: 8vw;
}

#section_1 p {
  padding-top: 8px;
  font-size: 1.125rem; /* 0.9375vw */
}

#section_1 h2 {
  margin-top: 20px;
  text-align: center;
  border-bottom: 3px solid black;
  padding-bottom: 1px;
}

#omoss_img {
  padding-top: 4vw;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 2vw;
  width: 100%;
}

/* ------------ARTIKEL PAGE------------ */
#artikel_grid {
  display: grid;
  height: auto;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas:
    "nav se1"
  ;
}

.artikel_section {
  grid-area: se1;
}

.artikel_inner_grid {
  display: grid;
  height: auto;
  grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 2fr);
  grid-template-rows: 50px minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    "hea hea hea"
    "tx1 tx1 im1"
    "im2 tx2 tx2"
  ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 100px;
}

.artikel_header {
  grid-area: hea;
  font-size: 1.125rem;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
}

.artikel_text_1 {
  border-top: 4px solid;
  grid-area: tx1;
  font-size: 1vw;
  padding-top: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.artikel_text_2 {
  grid-area: tx2;
  font-size: 1vw;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 10vw;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.artikel_img_1 {
  border-top: 4px solid;
  grid-area: im1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
}

.artikel_img_1 img {
  width: 100%;
}

.artikel_img_2 {
  grid-area: im2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw;
}

.artikel_img_2 img {
  width: 80%;
}

/* ------------IMG PAGE------------ */
#grid_image {
  display: grid;
  height: 100vh;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas:
    "nav sec"
  ;
}

#grid_inner {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 3fr 2fr;
  grid-template-areas:
    "bt1 img bt2"
    "bt1 txt bt2"
  ;
}

#grid_text {
  grid-area: txt;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#grid_text p {
  padding: 20px 50px 50px 50px;
  font-size: 1.275rem;
}

#grid_text h1 {
  padding-top: 0px;
  text-align: center;
  font-size: 2rem;
}

#image {
  padding-top: 50px;
  grid-area: img;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image img {
  height: calc(100% - 50px);
}

#button_1 {
  grid-area: bt1;
  display: flex;
  padding-right: 60px;
  align-items: center;
  justify-content: right;
}

#button_1 img {
  cursor: pointer;
  height: 150px;
  transform: rotate(225deg);
}

#button_2 {
  grid-area: bt2;
  display: flex;
  padding-left: 60px;
  align-items: center;
  justify-content: left;
}

#button_2 img {
  cursor: pointer;
  height: 150px;
  transform: rotate(45deg);
}

#image_section {
  grid-area: sec;
}

/* ------------IMG CARDS------------ */

#header p {
  position: absolute; 
  margin-left: 18.5vw; 
  margin-right: 18.5vw; 
  font-size: 1.4vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header span {
  background-color: #fff; 
  color: #000000
}

.card {
  background-color: black;
  border: var(--background_color) 4px solid;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card_img_w {
  width: 100%;
}

.card_img_h {
  height: 100%;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* ------------IMAGE HOVERING------------ */

.img_wrap {
  position: relative;
}

.img_description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: black;

  visibility: hidden;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
  visibility: visible;
  opacity: 0.8;
}

.img_description p {
  text-align: center;
  color: white;
  font-size: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

/* ------------NAVBAR------------ */
#nav {
  grid-area: nav;
  height: 100vh;
  background-color: var(--background_color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: monospace;
  transition: all 0.5s;

  position: sticky;
  top: 0;
}

#link_list {
  background: var(--background_color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
  position: absolute;
  left: -200px;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  transition: all 0.5s;
}

.links_visible {
  transform: translateX(200px);
}

#link_list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
  letter-spacing: 0.1875rem;

  width: 200px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
}

#link_list a:hover {
  background: lightseagreen;
  color: whitesmoke;
  transition: all 0.2s;

}

.burger_line {
  width: var(--burgerline_width);
  height: var(--burgerline_height);
  margin: var(--burgerline_margin);
  background: black;
  border-radius: 30px;

  transition: all 0.5s;
}

.burger_in_x_form #burger_line_1 {
  transform: translateY(calc((var(--burgerline_height) + var(--burgerline_margin)))) rotate(45deg);
}

.burger_in_x_form #burger_line_2 {
  opacity: 0;
}

.burger_in_x_form #burger_line_3 {
  transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

#burger {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  background-color: var(--background_color);
  border-radius: 5px;
  opacity: 0.6;
}

/* ------------TELEFON------------ */

@media screen and (max-width: 600px) {

  /* ------global------ */

  #nav {
    transition: none;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  #link_list {
    background: var(--background_color);
    display: flex;
    width: 100%;
    position: absolute;
    transition: none;
  }

  #link_list a {
    width: 100%;
  }

  .burger_line {
    transition: none;
  }

  #burger {
    z-index: 3;
  }



  /* ------galery page------ */
  .card {
    z-index: 1;
  }

  /* ------images page------ */
  #grid_inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr 2fr;
    grid-template-areas:
      "img img"
      "txt txt"
      "bt1 bt2"
    ;
  }

  #grid_inner p {
    display: none
  }

  #button_1, #button_2 {
    padding-right: 0;
    padding-left: 0;
  }

  #button_1 img, #button_2 img {
    height: 100px;
  }

  /* GALLERI */

  #header p {
    position: absolute; 
    text-align: center;
    margin-left: 10px; 
    margin-right: 10px; 
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }



  /* ARTIKEL PAGE */
  .artikel_inner_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto auto auto auto;
    grid-template-areas:
      "hea"
      "tx1"
      "im1"
      "tx2"
      "im2"
    ;
    margin-bottom: 50px;
  }
  
  .artikel_text_1 {
    border-top: 4px solid;
    font-size: 1rem;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }
  
  .artikel_text_2 {
    font-size: 1rem;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
  }
  
  .artikel_img_1 {
    border-top: none;
    padding: 2vw;
  }
  
  .artikel_img_2 {
    padding: 2vw;
  }
}